<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</html>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Edit Mahasiswa
        </h1>
    </div>
    <div class="container mt-5">
        <form action="/edit/<%= mahasiswa.nim %>" method="POST">
            <div class="field">
                <label class="label">NIM</label>
                <div class="control">
                    <input class="input" type="text" placeholder="NIM" name="nim" value="<%= mahasiswa.nim %>" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Nama</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Nama" name="nama" value="<%= mahasiswa.nama %>">
                </div>
            </div>
            <div class="field">
                <label class="label">Jurusan</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Jurusan" name="jurusan" value="<%= mahasiswa.jurusan %>">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>